.menu {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__list {
        display: flex;
    }

    &__list>li {
        margin: 0 10px 0 0;

        &:hover .sub-menu__list {
            display: block;
        }
    }

    &__link {
        color: #333;
        text-decoration: none;
        font-weight: 600;
        font-size: 15px;

        &:hover {
            color: #f00;
        }
    }

    li {
        position: relative;
    }

    .sub-menu__list {
        position: absolute;
        display: none;
        padding: 20px;
        background: #fff;
        top: 20px;
        box-shadow: 0 0 3px rgba(0,0,0,0.2);
        border-radius: 10px;
        // left: -5px;
        border: 1px solid rgba(0, 0, 0, .14);
    }

    .sub-menu__link {
        color: #222;
        font-family: 'Roboto', sans-serif;
        text-decoration: none;
        font-size: 14px;
        &:hover {
            color: #f00;
        }
    }

}